p.user{
    margin: 0px;
    font-weight: bold;
    float:left; 
}

.messagecontainer{
    padding: 10px 0px 10px 0px;
    margin-bottom: 200px;
    height: 80vh;
    overflow-y: auto;
}

.page-footer{
    width: 100%;
    padding-top: 10px;
    height: 200px;
    background-color: #86bbf0;
}